<div class="page">
   <div class="dialog">
      <div class="content" @appearanceAnimation>
         <h1>Guess The SuperHero</h1>

         <div class="section">
            <p>
               You will be asked some questions. Your goal is to <strong>guess the Super Hero</strong> where this superhero appears. Less questions and faster your answer,
               the higher results you get. You will be given just <strong>1 minute</strong>.
            </p>

            <p>Are you ready to start?</p>
         </div>

         <div class="actions">
            <button mat-raised-button color="primary" [routerLink]="['/fight']">Start</button>
         </div>
      </div>
   </div>
</div>
